<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="com.example" level="INFO"/>
    <logger name="io.micronaut.discovery.client.config.DistributedPropertySourceLocator" level="DEBUG"/>
    <logger name="io.micronaut.discovery.aws.parameterstore.httpClient" level="TRACE"/>
    <logger name="io.micronaut.discovery.aws.parameterstore" level="DEBUG"/>

</configuration>